.filterable-product-table {
  margin: auto;
  width: 300px;
}

.search-bar {
  display: flex;
  flex-direction: column;
}
.search-bar--input {
  display: flex;
  margin: 5px;
}
.search-bar--input-text {
  flex: 1;
}

.product-table {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.product-table--header {
  display: flex;
}
.product-table--header-title {
  flex: 1;
}

.product-category-row {
  font-weight: bold;
  padding: 5px 0;
}

.product-row--product {
  display: flex;
}
.product-row--product-name {
  flex: 1;
}
.product-row--product-price {
  flex: 1;
}
